				<div class="xs6 xm3 e-left" style="padding-left: unset;">
					<div class="e-overlay"></div>
					<div class="e-intrud">
						<header class="e-inner">
							<div class="profilepic">
								<img src="http://printf.cn/usr/themes/Yilia/images/tx.png" width="128" height="128" class="img-border radius-circle swing-hover" />
								<h1><a href="<%=_web.url%>">rccoder</a></h1>
								<p class="padding-top text-gray icon-volume-up">
									<%=newMood.mood%>
								</p>
								<button class="button icon-navicon" data-target="#nav-link1"></button>
								<ul class="nav nav-navicon padding-large-top nav-menu e-nav" id="nav-link1">
									<li><a href="<%=_web.url%>">首页</a></li>
									<li><a href="<%=_web.url%>/mood">心情</a></li>
									<li><a href="#">相册</a></li>
									<li><a href="<%=_web.url%>/archives">归档</a></li>
								</ul>
							</div>
						</header>
					</div>
				</div>