<!DOCTYPE html>
<html lang="zh-cn">
<%include header.html%>
	<body class=" e-body">
		<div class="container-layout e-content">
			<div class="line-big">
				<%include menu.html%>
				<div class="xs6 xm9 bg" id="content">
					<div class="margin-large list-media" style="min-height:700px;">
						 <%list.data.forEach(function(data){%>
						<div class="article">
							 <li> 
							 <div class="media media-x badge-corner">
							 <div class="float-left">
							<img src="<%=_web.url%>/resource/img/logos.png" width="64" height="64" class="radius-circle">
								<br>
								 						 	
							 </div>
							 <blockquote class="float-left" style="width: 85%"> 
							<li><P class="text-gray"><%=data.time%></P></li>
							 <li><p><%=data.mood%></p> </li>
							 </blockquote>
							 </div>
							  </li>
						</div>
						<%})%>
						<div class="margin-large">
							<ul class="pager clearfix">
								<%if(list.page>=1 && list.page<=list.total){%>
								<%if(list.page>1){%>
								<li class="float-left"><a class="pager-prev icon-angle-left" href="<%=_web.url%>/mood/<%=list.page-1%>"></a></li> 
								<%}%>
								<%if(list.page<list.total){%>
								<li class="float-right"><a class="pager-next icon-angle-right" href="<%=_web.url%>/mood/<%=list.page+1%>"></a></li>
								<%}%>
								<%}%>
							</ul>
						</div>						
					</div>
				<%include footer.html%>
				</div>
			</div>
		</div>
	</body>

</html>