<!DOCTYPE html>
<html lang="zh-cn">
<% include head.html %>
 <body>  
<% include menu.html %>
  <div class="admin"> 

   <form method="post" action="/admin/content/delete"> 
    <div class="panel admin-panel"> 
     <div class="panel-head"> 
      <strong> 标签列表 </strong> 
     </div> 
      <div class="padding border-bottom"> 
      <input type="button" class="button button-small checkall" name="checkall" checkfor="id" value="全选" /> 
      <input type="button" class="button button-small border-green" value="添加标签" /> 
     </div>     
     <table class="table table-hover"> 
      <tbody>
       <tr> 
        <th width="60"> 选择 </th> 
        <th width="120"> id </th> 
        <th width="*"> 名称 </th> 
        <th width="100"> 操作 </th> 
       </tr> <% tag.forEach(function(v) { %> 
       <tr> 
        <td> <input type="checkbox" name="id" value="<%=v.id%>" /> </td> 
        <td> <%=v.id%> </td> 
        <td> <%=v.name%> </td> 
        <td> <a class="button border-blue button-little" href="#"> 修改 </a> <a class="button border-yellow button-little" href="/admin/content/delete/id/<%=v.id%>" onclick="{if(confirm('确认删除?')){return true;}return false;}"> 删除 </a> </td> 
       </tr> <% }) %> 
      </tbody>
     </table>
    </div> 
   </form> 
  </div>  
 </body>
</html>