<!DOCTYPE html>

<html lang="zh-cn">

<% include head.html %>

 <body>

 <!--富文本编辑器-->

  <link rel="stylesheet" href="/resource/editor/css/editor.css">

  <script src="/resource/editor/js/editor.js"></script>
  <script src="/resource/plupload/plupload.full.min.js"></script>

  <script>
$(function(){
        //获取dom节点
    var $uploadContainer = $('#uploadContainer'),
            $fileList = $('#fileList'),
        $btnUpload = $('#btnUpload');

     var editor = $('#content').wangEditor({
      uploadImgComponent: $uploadContainer
     });
    //实例化一个上传对象
    var uploader = new plupload.Uploader({
        browse_button: 'btnBrowse',
        url: 'upload.ashx', 
        flash_swf_url: '/resource/plupload/Moxie.swf',
        sliverlight_xap_url: '/resource/plupload/Moxie.xap',
        filters: {
                    mime_types: [
                      //只允许上传图片文件 （注意，extensions中，逗号后面不要加空格）
                      { title: "图片文件", extensions: "jpg,gif,png,bmp" }
                    ]
            }
    });
          //存储多个图片的url地址
          var urls = [];

            //存储触犯上传事件的事件对象
          var event;

          //初始化
          uploader.init();

          //绑定文件添加到队列的事件
          uploader.bind('FilesAdded', function (uploader, files) {
              $.each(files, function (key, value) {
                  var fileName = value.name,
            html = '<li id="file-' + value.id + '">' +
                ' <p class="file-name">' + fileName + '</p>' +
                ' <p class="progress"></p>' +
                '</li>';

                  $fileList.append(html);
              });
          });

          //绑定上传进度
          uploader.bind('UploadProgress', function (uploader, file) {
              $fileList.find('.progress').text(file.percent + '%');
          });

          //单个文件上传之后
          uploader.bind('FileUploaded', function (uploader, file, responseObject) {
              //从服务器返回图片url地址
              var url = responseObject.response;
              //先将url地址存储来，待所有图片都上传完了，再
              urls.push(url);
          });

          //全部文件上传时候
          uploader.bind('UploadComplete', function (uploader, files) {
                
              $.each(urls, function (key, value) {
                  //把每一个图片的url，都插入到编辑器中
                  editor.command(event, 'insertHTML', '<img src="' + value + '"/>');
              });

              //清空url数组
              urls = [];

                //清空显示列表
              $fileList.html('');
          });

          //上传事件
          $btnUpload.click(function (e) {
              event = e;
              uploader.start();
          }); 

});
  </script>
<div id="uploadContainer">
    <input type="button" value="选择文件" id="btnBrowse"/>
    <input type="button" value="上传文件" id="btnUpload">
    <ul id="fileList"></ul>
</div>
  <!--富文本编辑器-->

 <% include menu.html %>

  <div class="admin"> 

        <div class="panel  admin-panel" id="tab-set">

             <div class="panel-head"> 

      <strong> 添加内容 </strong> 

     </div> 

     <div class="panel-foot">

         <form method="post" class="form-x" action="/admin/content/add.html">
                <input type="hidden" name="id" value="<%=content.id%>" />
                <div class="form-group">

                    <div class="label"><label for="sitename">文章标题</label></div>

                    <div class="field">

                      <input type="text" class="input" id="title" name="title" size="50" placeholder="文章标题" data-validate="required:请填写文章标题" value="<%=content.title%>" />

                    </div>

                </div>

                <div class="form-group">

                    <div class="label"><label for="sitename">所属分类</label></div>

                    <div class="field">

                     <select class="input" name="category"> 

                     <%category.forEach(function(data){%>

                      <option value="<%=data.id%>" <%if(content.cid==data.id){%>selected<%}%>><%=data.name%></option> 

                      <%})%>

                     </select>

                    </div>

                </div>

                <div class="form-group">

                    <div class="label"><label for="sitename">文章标签</label></div>

                    <div class="field">

                     <select class="input" name="tag"> 

                     <%tag.forEach(function(data){%>

                      <option value="<%=data.id%>" <%if(content.tid==data.id){%>selected<%}%>><%=data.name%></option> 

                      <%})%>

                      </select>

                    </div>

                </div>                

                <div class="form-group">

                    <div class="label"><label for="readme">文章内容</label></div>

                    <div class="field">

                      <textarea class="input" name="content" id="content" rows="10" cols="50" placeholder="文章内容">
                        <%=content.text%>
                      </textarea>

                    </div>

                </div>                         

                <div class="form-group">

                  <div class="label"><label>文章状态</label></div>

                  <div class="field">

                        <div class="button-group button-group-small radio">

                            <label class="button <%if(content.status==1){%>active<%}%>">

                            <input name="status" value="1" type="radio" <%if(content.status==1){%>checked="checked"<%}%>>

                            <span class="icon icon-check"></span> 

                              开启</label>

                            <label class="button <%if(content.status==0){%>active<%}%>">

                            <input name="status" value="0" type="radio" <%if(content.status==0){%>checked="checked"<%}%>>

                            <span class="icon icon-times"></span> 

                            关闭</label>

                        </div>

                    </div>

                </div>

                 <div class="form-group">

                  <div class="label"><label>允许评论</label></div>

                  <div class="field">

                        <div class="button-group button-group-small radio">

                            <label class="button <%if(content.iscomment==1){%>active<%}%>">

                            <input name="iscomment" value="1" type="radio" <%if(content.iscomment==1){%>checked="checked"<%}%>>

                            <span class="icon icon-check"></span> 

                              开启</label>

                            <label class="button <%if(content.iscomment==0){%>active<%}%>">

                            <input name="iscomment" value="0" type="radio"  <%if(content.iscomment==0){%>checked="checked"<%}%>>

                            <span class="icon icon-times"></span> 

                            关闭</label>

                        </div>

                    </div>

                </div>               

                <div class="form-button"><button class="button bg-main" type="submit">提交</button></div>

            </form>

     </div>

        </div>   

  </div> 

 </body>

</html>